body {
    background-color: white;
}

.newstyle {
    background-color: red;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

a {
    display: none;
    padding: 20px;
}

.ham {
    display: block;
    padding: 20px;
}

.responsive a {
    display: block;
}

.ham {
    color: white;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: center;
    grid-column: 1/6;
    background-color: #48BF84;
}

header {
    background-color: #48BF84;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
}



@media screen and (min-width: 600px) {
    a {
        display: block;

    }

    .ham {
        display: none;
    }

    ul {
        flex-direction: row;
    }
}