header {
    background-color: #48BF84;
}

.banner {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
}
a {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;

}
a:hover {
    background-color: #439775;
    color: #48BF84;
}
