@media only screen and (min-width: 20.5em) {
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 1fr 1fr;
    }
    
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }


    h4 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem; 
    }

    a {
        font-size: 2rem;
    }


    a:visited {
        color: rgb(100, 121, 128);
    } 
    
    a:hover {color: #022b79}  

    img {
        max-width: 15em;
        grid-column: 2;
        float: center;
    }
    #hierarchy {
        grid-row: 2;
        grid-column: 1;
    }
    
    #whitespace {
        grid-row: 2;
        grid-column: 2;
    }
    
    #parc {
        grid-row: 3;
        grid-column: 1/3;
    }
}