/* header {
height: 90px;
width: 100%;
background-color: #bedbed; } */


.container {
display: inline-block;
cursor: pointer;
/* height: 60px; */
}

.bar1, .bar2, .bar3 {
width: 35px;
height: 5px;
background-color: #333;
margin: 6px 0;
transition: 0.4s;
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}



.topnav {
background-color: white;
color: #393939;
font-family: 'Oxygen', sans-serif;
/* overflow: hidden; */
}

.topnav a {
float: left;
display: block;
color: #393939;
text-align: center;
padding: 30px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #E0DCDC;
color: black;
}

.active {
position: absolute;
font-family: 'Oxygen', sans-serif;
}

.topnav a.active {
display: block;
align-self: left;

/* background-color: #bedbed; */
color: black;

} 

.topnav .icon {
display: none;

}

.banner {
font-family: 'Oxygen', sans-serif;
margin: auto;
text-align: center;
height: 400px;
}

.banner h1 {
font-weight: 900;
}

.bannerBkd {
background-color:#bedbed;
margin-top: 103px;
margin-bottom: 0px;
height: 400px;
}

.bannerText{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 30px;
background-color: #ffffff;
opacity: .7;
filter: alpha(opacity=60);
border-radius: 3px;
}

.bannerButton {
font-family: 'Oxygen', sans-serif;
position: absolute;
top: 70%;
left: 50%;
transform: translate(-50%, -50%);
background-color: #ffffff;
border: none;
padding: 15px 5px 15px 5px;
opacity: .9;
border-radius: 3px;
}

.bannerButton:hover {
opacity: 1;
}

.bannerButton:active {
background-color: #E0DCDC;
}


.bannerImage {
width: 100%;
height: 400px;
object-fit: cover;
margin: auto;
opacity: .7;
}

.bannerImage:hover {
opacity: .5; 
}

.bannerImage2 {
width: 100%;
height: 400px;
object-fit: cover;
margin: auto;
opacity: .8;
}

.bannerImage3 {
filter: blur(10px);
-webkit-filter: blur(2px);

width: 100%;
height: 400px;
object-fit: cover;
margin: auto;
opacity: .7;
}



.bodyLinks{
background-color: #bedbed;
font-family: 'Work Sans', sans-serif;
color: #E0DCDC;
text-align: center;
}

.linkChild {
display: inline-block;
padding: 1rem 1rem;
vertical-align: middle;
}

.bodyLinks a {
text-decoration: none;
color: white;
}

.bodylinks a:link {
text-decoration: none;
}

.bodyLinks a:visited {
text-decoration: none;
}

.bodyLinks a:hover {
background-color: #5f7786;
}


.homeAbout {
background-color: #f6f6f6;
}

.homeAbout h3 {
/* background-color: #E0DCDC; */
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
font-size: 25px;
font-family: 'Work Sans', sans-serif;
text-align: center;
}

.homeAbout p {
/* background-color: #E0DCDC; */
font-family: 'Spartan', sans-serif;
font-weight: 100;
text-align: center;

padding-left: 100px;
padding-right: 100px;
}

.bodyContent {
height: auto;
}

.bodyContent h1 {
text-align: center;
font-family: 'Oxygen', sans-serif;
font-size: 20px;
background-color: #adadad1d;
}

.bodyContent p {
text-align: center;
font-family: 'Spartan', sans-serif;
font-size: 18px;
padding: 30px;
background-color: #adadad1d;
}


.cardContent {
background-image: linear-gradient(to top, rgba(140, 161, 182, 0.375), white);
padding-bottom: 30px;
}

.cardContent button {
padding-bottom: 30px;
height: 30px;
justify-content: center;
display: block;

}

.cards {
margin: auto;
justify-content: center;
object-fit: cover;
display: flex;
flex-wrap: wrap;
max-width: 100%;
padding-bottom: 50px;

}


.card {
width: 100%;
height: 100%;
max-height: 300px;
max-width: 600px;
object-fit: cover;
border-radius: 5px;
margin: 30px;
text-align: center;
/* background-color: rgb(122, 47, 47); */
background-image: linear-gradient(to top, rgba(59, 77, 95, 0.656), white);
}

.card img:hover {
opacity: .7;
}

.card img{
margin: auto;
width: 100%;
height: 100%;
max-height: 300px;
max-width: 600px;
object-fit: cover;
border-radius: 5px;
/* border-top-left-radius: 30px;
border-top-right-radius: 30px; */
}

.card h3{
text-align: center;
font-size: 30px;
font-family: 'Oxygen', sans-serif;
/* max-width: 300px; */
color:#333;
}

.card p {
font-family: 'Spartan', sans-serif;
font-weight: 100;
background-color:#ffffff;
border-radius: 3px;
margin-bottom: 10px;
padding-bottom: 20px;
padding-left: 20px;
padding-right: 20px;
background-image: linear-gradient(to top, rgba(59, 77, 95, 0.656), white);
}

.cardButton {
font-family: 'Oxygen', sans-serif;
background-color: #ffffff;
border: none;
/* padding: 15px; */
margin: auto;
border-radius: 3px;
text-align: center;
width: 400px;
height: 20px;
}

.cardButton:hover {
background-color: #E0DCDC;
}


.sampleBanner {
display: block;
margin: auto;
margin-top: 15px;
max-width: 800px;
background-color: #bedbed5a;
padding: 15px;

}
.sampleBanner h1 {
font-family: 'Oxygen', sans-serif;
max-width: 600px;
display: block;
margin: auto;
padding: 15px;
}

.sampleBanner p {
font-family: 'Spartan', sans-serif;
max-width: 400px;
display: block;
margin: auto;
}

/* .sampleCards {
max-width: 900px;
} */

.canyon {
opacity: .9;
background-image: linear-gradient(to top, rgba(59, 77, 95, 0.087), white);
padding: 15px;
margin: 20px;
border: 1px solid rgba(128, 128, 128, 0.176);
}

.canyon img{
margin: auto;
width: 100%;
max-height: 300px;
max-width: 1500px;
object-fit: cover;
border-radius: 5px;
}

.canyon h3 {
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
font-size: 40px;
font-family: 'Work Sans', sans-serif;
text-align: center;
}


.canyon p {
font-family: 'Spartan', sans-serif;
max-width: 600px;
font-size: 18px;
display: block;
margin: auto;
}

.mist {
opacity: .9;
background-image: linear-gradient(to top, rgba(59, 77, 95, 0.087), white);
padding: 15px;
margin: 20px;
border: 1px solid rgba(128, 128, 128, 0.176);
}

.mist img{
margin: auto;
width: 100%;
max-height: 300px;
max-width: 1500px;
object-fit: cover;
border-radius: 5px;
}

.mist h3 {
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
font-size: 40px;
font-family: 'Work Sans', sans-serif;
text-align: center;
}

.mist p {
font-family: 'Spartan', sans-serif;
max-width: 600px;
font-size: 18px;
display: block;
margin: auto;
}

.arctic {
opacity: .9;
background-image: linear-gradient(to top, rgba(59, 77, 95, 0.087), white);
padding: 15px;
margin: 20px;
border: 1px solid rgba(128, 128, 128, 0.176);
}

.arctic img{
margin: auto;
width: 100%;
max-height: 300px;
max-width: 1500px;
object-fit: cover;
border-radius: 5px;
}

.arctic h3 {
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
font-size: 40px;
font-family: 'Work Sans', sans-serif;
text-align: center;
}

.arctic p {
font-family: 'Spartan', sans-serif;
max-width: 600px;
font-size: 18px;
display: block;
margin: auto;
}

.dune {
opacity: .9;
background-image: linear-gradient(to top, rgba(59, 77, 95, 0.087), white);
padding: 15px;
margin: 20px;
border: 1px solid rgba(128, 128, 128, 0.176);
}

.dune img{
margin: auto;
width: 100%;
max-height: 300px;
max-width: 1500px;
object-fit: cover;
border-radius: 5px;
}

.dune h3 {
margin-top: 10px;
margin-bottom: 30px;
padding: 10px;
font-size: 40px;
font-family: 'Work Sans', sans-serif;
text-align: center;
}

.dune p {
font-family: 'Spartan', sans-serif;
max-width: 600px;
font-size: 18px;
display: block;
margin: auto;
}


.pluginBanner {
display: block;
margin: auto;
margin: 15px;
padding: 50px;
max-width: 800px;
background-color: #bedbed5a;
padding: 15px;

}

.listenContent {
justify-content: center;
display: block;
margin: auto;
}

.listenContent h1 {
text-align: center;
font-family: 'Oxygen', sans-serif;
font-size: 20px;
background-color: #adadad1d;
}

.listenContent p {
text-align: center;
font-family: 'Spartan', sans-serif;
font-size: 18px;
padding: 30px;
background-color: #adadad1d;
}

.socialLinks {
display: block;
margin: auto;
text-align: center;
padding: 20px;
}

.fa {
display: block;
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: auto;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-google {
background: #dd4b39;
color: white;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

.join_form{
display: flex;
flex-wrap: wrap;
flex-direction: column;
color: white;
border: 1px solid rgba(128, 128, 128, 0.176);
width:400px;
margin: auto;
text-align: center;

padding: 110px;
}

.aboutContent {
    background-image: linear-gradient(to top, #bedbeda4, white);
}

label {
color: #393939;
font-family: 'Oxygen', sans-serif;
padding: 15px;
font-size: 20px;
margin: 20px;
}

label, input, select {
text-align: center;
display: flex;
margin: auto;
width: 300px;
height: 22px;
padding-top: 5px;
}
textarea {
    height: 90px;
    margin-bottom: 30px;
}

#submit {
    width: 300px;
    height: 40px;
    margin: auto;
    justify-content: center;
display: block;
margin-bottom: 20px;
}

.footnote {
font-family: 'Spartan', sans-serif;
max-width: 600px;
font-size: 16px;
padding: 40px;
display: block;
margin: auto;

}

.footer {
text-align: center;
}

.footerContent {
padding-top: 40px;
/* padding-left: 40px; */
background-color: #bedbed;
color: white;
height: 150px;
font-family: 'Spartan', sans-serif;
font-weight: 100;
}
